<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/img/purse.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Интернет-магазин</title>
</head>
<body>
<div class="header">
    <img id="logo" src="/static/img/log.png">
    Интернет-магазин РОБОТОТЕХНИКА
    <ul id="marker">
        <li><a class="menu1" href="/">Главная</a></li>
        <li><a class="menu1" href="/catalog/">Каталог</a></li>
        <li><a class="menu1" href="/contacts/">Контакты</a></li>
    </ul>
</div>
<hr>
<h1>Контакты</h1><br>
<fieldset id="field">
    <legend>Напишите нам</legend>
    <form>
    <input name="user" id="username" type="text" placeholder="Ваше имя"><br>
    <input id="e-mail" name="email" type="email" placeholder="Ваш e-mail"><br>
    <input id="phone" type="tel" placeholder="Телефон для связи"><br>
    <input id="sub" type="text" placeholder="Тема сообщения"><br>
    <label for="mess">Суть вашего письма:</label><br>
    <textarea id="mess"></textarea><br>
    <input id="but" type="submit" value="Отправить">
    </form>
</fieldset>
<h2>Адрес</h2>
<p>
    <b>Телефон:</b> +7-951-683-56-90<br>
    <b>Адрес:</b> г.Санкт-Петербург, Суздальский пр-кт, д.85<br>
    <b>Email:</b> shakhovichkirill@gmail.com<br>
</p>
<p><b>Карта Санкт-Петербурга</b></p>
<script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac0788ecc97efbe8fb85d5c1b7a2b33241a9cce5e1533fca0f3933e4e9c5cf29a&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
<div class="footer">
    <p>&copy;&nbsp;"Все права защищены"</p>
</div>
</body>
</html>
