<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/img/purse.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Интернет-магазин</title>
</head>
<body>
<div class="container">
<div class="header">
        <img id="logo" src="/static/img/log.png">
        Интернет-магазин РОБОТОТЕХНИКА
        <ul id="marker">
            <li><a class="menu1" href="/">Главная</a></li>
            <li><a class="menu1" href="/catalog/">Каталог</a></li>
            <li><a class="menu1" href="/contacts/">Контакты</a></li>
        </ul>
    </div>
<hr>
<h1>Главная</h1>
<p>Это уникальный магазин робототехники в Санкт-Петербурге. Мы собрали для вас в одном месте все новинки
    робототехнического мира.
    Также вы сможете всегда здесь найти любые мировые бестселлеры, по праву заслужившие своё место в нише бытовых,
    игровых, обучающих, радиоуправляемых и других полезных роботов.
    Благодаря нашему интернет-магазину роботов вы без труда и не выходя из дома сможете купить робота вашей мечты. А
    если вы о нём ещё даже не мечтали,
    то приступайте к этому приятному делу прямо сейчас. Ведь жить в век высоких технологий и не пользоваться новинками
    робототехнического мира, по меньшей мере,
    нерационально. Такие помощники как роботы-пылесосы или же развивающие роботехнические наборы для ваших детей давно
    уже стали доступными каждому. Не лишайте же себя удовольствия.
    Широкий ассортимент нашего магазина робототехники предлагает вам саморазвитие вместо рутинных дел. Освободите время
    для себя и своих близких, сохраните его для более важных дел!</p>
<hr>
<div class="footer">&copy;&nbsp;"Все права защищены"</div>
</div>
</body>
</html>
