<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% include 'includes/inc_header.html' %}
<body>
{% include 'includes/inc_menu.html' %}
<hr>
<h1>Arduino UNO R3</h1>
<a href="{% static 'img/arduino.jpeg' %}" target="_blank"><img id="picture2" src="{% static 'img/arduino.jpeg' %}"/></a>
<h2 class="characteristics">Описание:</h2>
<p id="description"> Arduino — открытая платформа, которая позволяет легко подключать различные устройства, быстро
    достигая результата.
    Платформа позволит Вам познакомиться с миром микроконтроллеров,
    собрать свой собственный гаджет, построить робота и воплотить в жизнь самые смелые идеи. <br>
    <br>
</p>
<h2 class="characteristics">Характеристики товара:</h2>
<table>
    <tr class="header-th">
        <th colspan="3">Технические характеристики Arduino UNO R3</th>
    </tr>
    <tr>
        <th>Микроконтроллер:</th>
        <td>ATmega328</td>
    </tr>
    <tr>
        <th>Карта памяти:</th>
        <td>MicroSD</td>
    </tr>
    <tr>
        <th>Напряжение питания:</th>
        <td>5 В</td>
    </tr>
    <tr>
        <th>Цифровой ввод-вывод:</th>
        <td>14 линии (6 из них = ШИМ)</td>
    </tr>
    <tr>
        <th>Габариты:</th>
        <td>87x66x27 мм</td>
    </tr>
</table>
<h2 class="characteristics">Подробное описание товара:</h2>
<p id="full-description"> UNO R3 - сердце мира платформ Arduino. Построена на базе контроллера ATmega328p - 16 МГц, 32
    КБ, 20 каналов ввода/вывода для взаимодействия с внешним миром.
    Arduino Uno построена на базе микроконтроллера ATmega328. Платформа имеет 14 цифровых
    ввода/ выходов (6 из которых могут использоваться как выходы ШИМ), 6 аналоговых входов,
    кварцевый генератор 16 МГц, разъем USB, силовой разъем, разъем ICSP и кнопку перезагрузки.
    Для работы необходимо подключить платформу к компьютеру посредством кабеля USB
    или подать питание при помощи адаптера AC/DC, или аккумуляторной батареей.
</p>
<a href="{% url 'catalog' %}">
    <button id="but">Назад</button>
</a>
{% include 'includes/inc_footer.html' %}
</body>
</html>
