<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/img/purse.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Интернет-магазин</title>
</head>
<body>
<div class="header">
    <img id="logo" src="/static/img/log.png">
    Интернет-магазин РОБОТОТЕХНИКА
    <ul id="marker">
        <li><a class="menu1" href="/">Главная</a></li>
        <li><a class="menu1" href="/catalog/">Каталог</a></li>
        <li><a class="menu1" href="/contacts/">Контакты</a></li>
    </ul>
</div>
<hr>
<h1>Intel Edison Breakout Board Kit</h1>
<a href="/static/img/intel.jpg" target="_blank"><img id="picture3" src="/static/img/intel.jpg"/></a>
<h2 class="characteristics">Описание:</h2>
<p id="description"> Intel Edison это ультра маленькая вычислительная платформа которая изменит ваш взгляд на
    встраиваемою электронику.
    Модуль построен на базе Intel Atom SoC с двухъядерным процессором, в том числе интегрированы WiFi,
    Bluetooth LE и 70-пин разъем для подключения модулей расширения.
    Комплект Intel Edison Breakout Kit это стартовый набор для оценки возможностей модуля.
    Плата расширения Mini Breakout состоит из источника питания, зарядного устройства для
    аккумуляторов, переключателя USB OTG power, преобразователя UART – USB, разъема USB OTG и
    области с выведенными контактами модуля. <br>
    <br>
</p>
<h2 class="characteristics">Характеристики товара:</h2>
<table>
    <tr class="header-th">
        <th colspan="3">Технические характеристики Intel Edison Breakout Board Kit</th>
    </tr>
    <tr>
        <th>Разъем дисплея:</th>
        <td>Display Serial Interface (DSI)</td>
    </tr>
    <tr>
        <th>Карта памяти:</th>
        <td>SD</td>
    </tr>
    <tr>
        <th>Сетевые интерфейсы:</th>
        <td>Wi-Fi 802.11n</td>
    </tr>
    <tr>
        <th>Порты ввода-вывода:</th>
        <td>30</td>
    </tr>
    <tr>
        <th>Габариты:</th>
        <td>87x46x15 мм</td>
    </tr>
</table>
<h2 class="characteristics">Подробное описание товара:</h2>
<p id="full-description"> Intel® Edison - ультрамалая вычислительная платформа, которая изменит ваш взгляд на встроенную
    электронику.
    Каждый Edison упакован с огромным количеством технологических лакомств в крошечный пакет, при этом обеспечивая тем
    самым прочную
    силу вашего одноплатного компьютера. Работает на двухъядерном процессоре Intel® Atom ™ SoC и включает в себя
    интегрированный Wi-Fi, Bluetooth LE и 70-контактный
    разъем, чтобы прикрепить настоящую комбинацию экранов типа «Блоки», которые можно укладывать друг на друга.
    Неудивительно, как этот маленький парень опускает барьер входа в мир электроники!
    Intel® Edison предлагает мощный набор функций в своем небольшом размере, обеспечивая отличную производительность,
    долговечность и широкий спектр услуг ввода / вывода и программного обеспечения. Эти универсальные функции помогают
    удовлетворить потребности производителей, изобретателей и начинающих. Это модуль с высокоскоростным процессором и
    WiFi и Bluetooth-радио на борту. Это малая мощность и небольшая занимаемая площадь делают его идеальным для
    проектов, которым требуется большая вычислительная мощность, но не имеют возможности находиться рядом с большим
    источником питания или иметь большой след.
</p>
<a href="/catalog/">
    <button id="but">Назад</button>
</a>
<div class="footer">
    <p>&copy;&nbsp;"Все права защищены"</p>
</div>
</body>
</html>
