<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/img/purse.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Интернет-магазин</title>
</head>
<body>
<div class="header">
    <img id="logo" src="/static/img/log.png">
    Интернет-магазин РОБОТОТЕХНИКА
    <ul id="marker">
        <li><a class="menu1" href="/">Главная</a></li>
        <li><a class="menu1" href="/catalog/">Каталог</a></li>
        <li><a class="menu1" href="/contacts/">Контакты</a></li>
    </ul>
</div>
<hr>
<h1>Raspberry Pi 3 Model B</h1>
<a href="/static/img/raspberry.jpg" target="_blank"><img id="picture1" src="/static/img/raspberry.jpg"/></a>
<h2 class="characteristics">Описание:</h2>
<p id="description"> Raspberry Pi — одноплатный компьютер размером с банковскую карту, изначально разработанный как
    бюджетная система для обучения информатике. <br>
    <br>
</p>
<h2 class="characteristics">Характеристики товара:</h2>
<table>
    <tr class="header-th">
        <th colspan="3">Технические характеристики Raspberry Pi</th>
    </tr>
    <tr>
        <th>Разъем дисплея:</th>
        <td>Display Serial Interface (DSI)</td>
    </tr>
    <tr>
        <th>Карта памяти:</th>
        <td>MicroSD</td>
    </tr>
    <tr>
        <th>Сетевые интерфейсы:</th>
        <td>Wi-Fi 802.11n</td>
    </tr>
    <tr>
        <th>Порты ввода-вывода:</th>
        <td>40</td>
    </tr>
    <tr>
        <th>Габариты:</th>
        <td>85x56x17 мм</td>

    </tr>
</table>
<h2 class="characteristics">Подробное описание товара:</h2>
<p id="full-description"> Raspberry Pi 3 Model B является прямым наследником Raspberry Pi 2 Model B.
    Плата полностью совместима с предшественником, но наделена большей производительностью и новыми средствами
    коммуникации.
    Штатной операционной системой для Raspberry Pi является Linux. Она устанавливается на microSD карту, а та — в
    специальный слот на плате.
    Если вы не знаете Linux, не пугайтесь. Этот компьютер — прекрасная возможность во всём разобраться.
    Потерять данные или сильно напортачить с настройками не так страшно, образ на SD-карте можно восстановить за
    считанные минуты.
    После этого — смело продолжайте эксперименты!
</p>
<a href="/catalog/">
    <button id="but">Назад</button>
</a>
<div class="footer">
    <p>&copy;&nbsp;"Все права защищены"</p>
</div>
</body>
</html>
